{% extends "base.html" %}

{% block content %}
	 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	 	<div class="navbar-header ">
			<a class="navbar-brand" href="#"><img src="/static/dota.png" sty    le="position:relative;top:-5px"/></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-tab">
				<li class="active"><a href="/">首页</a></li>
				<li><a href="/news">新闻</a></li>
				<li><a href="/player">选手</a></li>
				<li><a href="/video">视频</a></li>
				<li><a href="/live">直播</a></li>
			</ul>
		</div>
	</div>
	</br>
	</br>
	</br>
	<div><img src="/static/base.jpg"></div>
	<div style="width:100%;height:90%;background-color:#5B5B5B;margin:10px auto 0 auto">
    <style>
        .videolist li {
        float: left;
        list-style-type: none;
        margin: 10px 5px 5px 10px;
    }</style>
    <div style="width:980px;margin:10px auto 20px auto;">

        <div style="height:240px;">
            <div style="font-size:18px;background-color:black;font-weight:bold;padding-left:20px">选手直播间</div></br>
            <ul class="videolist">
                {% for live in livelist %}
                <li>
					<div style="width:200px;height:170px;">                                       
						<a href="live/{{ live.slug }}" target=_blank>
							<div><img src="{{ live.live_img }}" width=200px height=120px></div>
							<div style="color:White;">
								<div style="text-overflow:ellipsis; white-space:nowrap;overflow:hidden">{{ live.live_title }}
								<div style="font-size:12px;">({{ live.live_player }})</div>
								</div>
							</div>
								</a>
					</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div style="height:240px;">
            <div style="font-size:18px;background-color:black;font-weight:bold;padding-left:20px">最新视频</div></br>
            <ul class="videolist">
                {% for video in videolist %}
                <li>
                    <div style="width:200px;height:170px;">
                        <a href="video/{{ video.slug }}" target=_blank>
                            <div><img src="/media/{{ video.image }}"></div>
                            <div style="color:White;">【{{video.author}}】 {{ video.video_name }}</div>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div style="height:240px;">
            <div style="font-size:18px;background-color:Black;font-weight:bold;padding-left:20px;">热点新闻</div>
            </br>
            <ul>
                {% for new in newslist %}
                <li style="list-style-type:none">
                    <a href="news/{{ new.slug }}" target="_blank"> 
                        <div style="color:White;margin:10px auto 5px 20px;">【{{new.author}}】{{ new.title }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
		</div>

        <div style="height:240px">
            <div style="font-size:18px;background-color:black;font-weight:bold;padding-left:20px">选手列表</div>
            </br>
            <ul>
            {% for player in playerlist %}       
                <li style="float:left;list-style-type:none;margin:10px 10px 10px 10px">
                    <a href="player/{{ player.slug }}">
                        <div><img src="/media/{{ player.playerImage }}" /></div>
                        <div style="text-align:center;color:White">{{ player.nick_name }}</div>
                    </a>    
                </li>
            {% endfor %}        
            </ul>
        </div>
    </div>
	</div>
{% endblock content %}
